html, body, #map-canvas-container, #map-canvas, #right-panel {
    height: 100%;
    font-size: small;
}

body {
    margin: 0;
    padding: 0;
}

#map-canvas-container {
    margin-right: 31em;
}

#right-panel {
    position: absolute;
    right: 0;
    top: 0;
    width: 31em;
    overflow-x: hidden;
    overflow-y: auto;
}

#settings, #status, #legend {
    margin-left: 5px;
    margin-right: 5px;
}

#settings, #legend {
    margin-bottom: 10px;
}

#dz-selection-menu {
    width: 50%;
    display: inline-block;
}

#wind-direction-slider, #wind-speed-slider, #opening-altitude-slider, #simulation-speed-slider {
    margin-top: 6px;
}

#wind-arrow {
    float: right;
    margin-top: 15px;
    margin-right: 30px;
}

#wind-arrow > img {
    height: 55px;
}

.no-padding {
    padding-bottom: 1px !important;
    padding-top: 2px !important;
}

.margin {
    margin-top: 18px;
}

#system-menu {
    margin-left: 10px;
}

.value-font {
    font-family: Georgia, serif;
}

#legend-text {
    padding: 1em;
}

#legend-text img {
    vertical-align: center;
}

#legend-text dl img {
    float: left;
    margin-right: 1em;
}

#legend-text dt {
    margin-top: 1em;
}

.ui-menu {
    z-index: 100;
}

[lang="en"] {
}

[lang!="en"] {
    display: none;
}
