html, body, body > div:first-child, #map-canvas, #right-panel {
    height: 100%;
    font-size: small;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.map-normal {
    margin-right: 27em;
}

.map-fullscreen {
    margin-right: 0;
}

.current-dz > a {
    color: red;
}

.ui-menu {
    z-index: 100;
    width: 10em;
}

#right-panel {
    position: absolute;
    right: 0;
    top: 0;
    width: 27em;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #99999f;
}

#right-panel > div {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
}

#right-panel > div > div {
    padding: 13px 1em 15px;
}

.link-icon
{
    display:inline-block;
    vertical-align: middle;
}

#checkbox-fullscreen {
    display: none;
}

#checkbox-fullscreen + label > button {
    padding: 0;
}

#about-text a > img {
    vertical-align: middle;
    margin-right: 5px;
    opacity: 0.6;
}

#about-text a:hover > img {
    opacity: 1;
}

#about-text p:first-of-type {
    margin-top: 0;
}

#about-text p:last-of-type {
    margin-bottom: 0;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:last-of-type {
    background-image: url("smoothness-theme/images/ui-bg_glass_75_d70e0e_1x400.png");
    color: white;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:first-of-type {
    background-image: url("smoothness-theme/images/ui-bg_glass_75_14b00c_1x400.png");
    color: white;
}

#about-dialog {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#about-dialog iframe {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
}

#share-dialog > input:last-of-type {
    text-overflow: ellipsis;
    width: 100%;
}

#legend-dialog dl img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

#legend-dialog dt {
    clear: both;
    margin-top: 1em;
}

.tutor .ui-dialog-titlebar {
    display: none;
}

.tutor.ui-dialog {
    max-width: 30em;
}

.tutor-highlight {
    border: 4px solid red;
    box-shadow: 2px 2px 8px 4px #ce213c;
}

#status .ui-progressbar {
    height: 10px;
}
