html, body, #map-canvas-container, #map-canvas, #right-panel {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: small;
}

#map-canvas-container {
    margin-right: 400px;
}

#right-panel {
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    overflow: auto;
}

#settings, #status, #legend {
    margin-left: 5px;
    margin-right: 5px;
}

#settings, #legend {
    margin-bottom: 10px;
}

#dz-selection-menu {
    width: 50%;
    display: inline-block;
}

#wind-direction-slider, #wind-speed-slider, #opening-altitude-slider, #simulation-speed-slider {
    margin-top: 6px;
}

#wind-arrow {
    float: right;
    margin-right: 30px;
}

.no-padding {
    padding-bottom: 1px !important;
    padding-top: 2px !important;
}

.margin {
    margin-top: 18px;
}

#system-menu {
    margin-left: 10px;
}

.value-font {
    font-family: Georgia, serif;
}

#legend-text {
    font-size: small;
}

.ui-menu {
    z-index: 100;
}

.ui-accordion-content {
    padding: 5 !important;
}

.lang-en {

}

.lang-ru {
    display: none;
}
