html, body, #map-canvas-container, #map-canvas, #right-panel {
	height: 100%
}

#map-canvas-container {
	width: 100%;
	float: left;
	margin-right: -350px;
}

#map-canvas {
	margin-right: 350px;
}

#right-panel {
	width: 350px;
	float: right;
}

#settings , #status, #legend {
	margin-left: 10px;
	margin-right: 10px;
}

#settings , #legend {
	margin-bottom: 10px;
}

#dz-selection-menu {
}

#wind-direction-slider, #wind-speed-slider, #opening-altitude-slider, #wind-arrow {
	margin-top: 6px;
}

#wind-arrow {
	float: right;
	margin-right: 30px;
}

#wind-direction-value, #wind-speed-value, #opening-altitude-value, #steady-point-checkbox , #use-metric-system-checkbox {
	margin-top: 18px;
}

#horizontal-speed-value, #vertical-speed-value, #canopy-heading-value {
	margin-top: 18px;
}

#wind-direction-value, #wind-speed-value, #opening-altitude-value, #altitude-value, #horizontal-speed-value, #vertical-speed-value, #canopy-heading-value, #steady-point-checkbox-label, #use-metric-system-checkbox-label {
	font-family: Georgia, serif;
	font-size: large;
}

#legend-text {
	font-size: small;
}