#map-canvas-container {
	width: 100%;
	float: left;
	margin-right: -300px;
}

#map-canvas {
	margin-right: 300px;
}

#controls {
	width: 300px;
	float: right;
}

#wind-bearing-slider, #wind-speed-slider {
	margin: 20px 20px 40px 20px;
}

#wind-bearing-value, #wind-speed-value {
	margin: 0px 20px 10px 20px;
}

html, body, #map-canvas-container, #map-canvas, #controls {
	height: 100%
}